    <p id = "home"><%= image_tag 'home16.png' %>　ホーム</p>
    <p id = "topic_search"><%= image_tag 'sharp16.png' %>　話題を検索</p>
    <p id = "notification"><%= image_tag 'bell16.png' %>　通知</p>
    <p id = "dm"><%= image_tag 'mail16.png' %>　メッセージ</p>
    <p id = "bookmark"><%= image_tag 'bookmark16.png' %>　ブックマーク</p>
    <p id = "list"><%= image_tag 'list16.png' %>　リスト</p>
    <p id = "profile"><%= image_tag 'human16.png' %>　プロフィール</p>
    <p id = "more_see"><%= image_tag 'more16.png' %>　もっと見る</p>
    <p id = "new_button"><%= link_to 'ツイートする', '/tweet/new', class:'linkTo' %></p>
<style>
    #home{
        display:block;
        line-height:40px;
        background:#ffffff;
        color:#000000;
        border-radius:25px;
        text-decoration: none;
        padding-left:20px;
    }
    #home:hover{
        background:#dcdcdc;
    }
    
    #topic_search{
        display:block;
        line-height:40px;
        background:#ffffff;
        color:#000000;
        border-radius:25px;
        text-decoration: none;
        padding-left:20px;
    }
    #topic_search:hover{
        background:#dcdcdc; 
    }
     
    #notification{
        display:block;
        line-height:40px;
        background:#ffffff;
        color:#000000;
        border-radius:25px;
        text-decoration: none;
        padding-left:20px;
    }
    #notification:hover{
        background:#dcdcdc; 
    }
     
    #dm{
        display:block;
        line-height:40px;
        background:#ffffff;
        color:#000000;
        border-radius:25px;
        text-decoration: none;
        padding-left:20px;
    }
    #dm:hover{
        background:#dcdcdc; 
    }
     
    #bookmark{
        display:block;
        line-height:40px;
        background:#ffffff;
        color:#000000;
        border-radius:25px;
        text-decoration: none;padding-left:20px;
    }
    #bookmark:hover{
        background:#dcdcdc; 
    }
     
    #list{
        display:block;
        line-height:40px;
        background:#ffffff;
        color:#000000;
        border-radius:25px;
        text-decoration: none;
        padding-left:20px;
    }
    #list:hover{
        background:#dcdcdc; 
    }
     
    #profile{
        display:block;
        line-height:40px;
        background:#ffffff;
        color:#000000;
        border-radius:25px;
        text-decoration: none;
        padding-left:20px;
    }
    #profile:hover{
        background:#dcdcdc; 
    }
     
    #more_see{
        display:block;
        line-height:40px;
        background:#ffffff;
        color:#000000;
        border-radius:25px;
        text-decoration: none;
        padding-left:20px;
    }
    #more_see:hover{
        background:#dcdcdc; 
    }
     
    #new_button{
        display:block;
        line-height:40px;
        background:#00acee;
        color:white;
        border-radius:25px;
        text-align:center;
    }
    .linkTo:visited{
        text-decoration: none;
        color:white;
    }
</style>
