<!DOCTYPE html>
<html>
    <ul>
        <div><%= image_tag 'bird.png',id:"bird_icon" %><%= link_to '','/tweet' %></div>
        <li id = "sidebar_list"><%= image_tag 'home36.PNG', id:'sidebar_img' %><%= link_to 'ホーム', '/tweet', id:'sidebar_linkTo' %></li>
        <li id = "sidebar_list"><%= image_tag 'sharp36.PNG', id:'sidebar_img' %><%= link_to '話題を検索', '/tweet', id:'sidebar_linkTo'%></li>
        <li id = "sidebar_list"><%= image_tag 'bell36.PNG', id:'sidebar_img' %><%= link_to '通知', '/tweet', id:'sidebar_linkTo'%></li>
        <li id = "sidebar_list"><%= image_tag 'mail36.PNG', id:'sidebar_img' %><%= link_to 'メッセージ', '/tweet', id:'sidebar_linkTo'%></li>
        <li id = "sidebar_list"><%= image_tag 'bookmark36.PNG', id:'sidebar_img' %><%= link_to 'ブックマーク', '/tweet', id:'sidebar_linkTo'%></li>
        <li id = "sidebar_list"><%= image_tag 'list36.PNG', id:'sidebar_img' %><%= link_to 'リスト', '/tweet', id:'sidebar_linkTo'%></li>
        <li id = "sidebar_list"><%= image_tag 'human36.PNG', id:'sidebar_img' %><%= link_to 'プロフィール', '/tweet', id:'sidebar_linkTo'%></li>
        <li id = "sidebar_list"><%= image_tag 'more36.PNG', id:'sidebar_img' %><%= link_to 'もっと見る', '/tweet', id:'sidebar_linkTo'%></li>
        <li id = "new_button"><%= link_to 'ツイートする', '/tweet/new', class:'new_linkTo' %></li>
    </ul>
    <span class = blinking >
        <% if flash[:notice] %>
            <%= flash[:notice] %>
        <% end %>
    </span>
</html>
