<!DOCTYPE html>
<html>
    <div><%= image_tag 'bird.png',id:"bird_icon" %><%= link_to '','/tweet' %></div>
    <div id = "home"><%= image_tag 'home36.PNG', id:'sidebar_img' %><%= link_to 'ホーム', '/tweet', id:'sidebar_linkTo' %></div><br>
    <div id = "topic_search"><%= image_tag 'sharp36.PNG', id:'sidebar_img' %><%= link_to '話題を検索', '/tweet', id:'sidebar_linkTo'%></div><br>
    <div id = "notification"><%= image_tag 'bell36.PNG', id:'sidebar_img' %><%= link_to '通知', '/tweet', id:'sidebar_linkTo'%></div><br>
    <div id = "dm"><%= image_tag 'mail36.PNG', id:'sidebar_img' %><%= link_to 'メッセージ', '/tweet', id:'sidebar_linkTo'%></div><br>
    <div id = "bookmark"><%= image_tag 'bookmark36.PNG', id:'sidebar_img' %><%= link_to 'ブックマーク', '/tweet', id:'sidebar_linkTo'%></div><br>
    <div id = "list"><%= image_tag 'list36.PNG', id:'sidebar_img' %><%= link_to 'リスト', '/tweet', id:'sidebar_linkTo'%></div><br>
    <div id = "profile"><%= image_tag 'human36.PNG', id:'sidebar_img' %><%= link_to 'プロフィール', '/tweet', id:'sidebar_linkTo'%></div><br>
    <div id = "more_see"><%= image_tag 'more36.PNG', id:'sidebar_img' %><%= link_to 'もっと見る', '/tweet', id:'sidebar_linkTo'%></div><br>
    <div id = "new_button"><%= link_to 'ツイートする', '/tweet/new', class:'new_linkTo' %></div><br>
    <span class = blinking >
        <% if flash[:notice] %>
            <%= flash[:notice] %>
        <% end %>
    </span>
</html>

