


<h1>ひとりTwitter</h1>
<% @tweet.each do |tweet| %> 
<p>
<% elapsed_time=(Time.current - tweet.tdate)/60  %>
<%= tweet.message %>：
<% if elapsed_time.round(0) > 60 %>
    <% elapsed_time /= 60 %>
    <%= elapsed_time.round(0) %>時間前
<% else %>
    <%= elapsed_time.round(0) %>分前
<% end %>

<%= link_to '表示', "/tweet/#{tweet.id}" %>
<%= link_to '編集', "/tweet/#{tweet.id}/edit" %>
<%= link_to '削除', "/tweet/#{tweet.id}",method: :delete %>
</p>
<% end %> 
<p><%= link_to '新規ツイート', '/tweet/new' %></p>

<span class = blinking >
<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
</span>
<style>
    /* 点滅 */
.blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
</style>



