<% @tweet.each do |tweet| %>
<p id = 'myIcon'><%= image_tag 'twitter32.png' %></p>
<b id = 'name'>荻田吏基</b><br><%= tweet.message %>


<% elapsed_time=(Time.current - tweet.tdate)/60  %>
：
<% if elapsed_time.round(0) > 60 %>
    <% elapsed_time /= 60 %>
    <%= elapsed_time.round(0) %>時間前
<% else %>
    <%= elapsed_time.round(0) %>分前
<% end %>
<p>
<%= link_to '表示', "/tweet/#{tweet.id}" %>
<%= link_to '編集', "/tweet/#{tweet.id}/edit" %>
<%= link_to '削除', "/tweet/#{tweet.id}",method: :delete %>
</p><br>
<% end %>


<span class = blinking >
<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
</span>




<style>
#myIcon{
    text-align:center;
    width:60px;
    float:left;
}
#name{
    width:500px;
    floatright;
}
.blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
</style>



