<!DOCTYPE html>
<html>
    <body>
        <% @tweet.each do |tweet| %>
            <p id = 'show_top'>
                <%= image_tag 'roket.png', id:'myicon' %>
                <b>荻田吏基</b>
                <% elapsed_time=(Time.current - tweet.tdate)/60  %>
                <% if elapsed_time.round(0) > 604800 %>
                    <% elapsed_time = elapsed_time/604800 %>
                    <%= elapsed_time.round(0) %>週間前
                <% elsif elapsed_time.round(0) > 1440 %>
                    <% elapsed_time = elapsed_time/1440 %>
                    <%= elapsed_time.round(0) %>日前
                <% elsif elapsed_time.round(0) > 60 %>
                    <% elapsed_time /= 60 %>
                    <%= elapsed_time.round(0) %>時間前
                <% else %>
                    <%= elapsed_time.round(0) %>分前
                <% end %><br>
                <%= tweet.message %><br>
                <%= link_to '表示', "/tweet/#{tweet.id}" %><br>
                <%= link_to '編集', "/tweet/#{tweet.id}/edit" %><br>
                <%= link_to '削除', "/tweet/#{tweet.id}",method: :delete %>
            </p>
        <% end %>
    </body>
</html>

<style>

</style>