<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <%= render "header" %>
      </div>
      <div id="sidebar">
        <%= render "sidebar" %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="footer">
        <%= render "footer" %>
      </div>
    </div>
  </body>
</html>
<style>
  body {
    width:1100px;
    margin:0 auto;
  }
  
  #header{
    width:750px;
    float: right;
    float: top;
    
  }
  
  #sidebar{
    width: 190px;
    float: left;
    border-right:solid 1px #ccc;
    padding-right:40px;
    padding-top:80px;
  }
  
  #content{
    height: 720px;
    width: 720px;
    float: right;
    float: bottom;
  }
</style>